.Story-title {
    font-weight: bold;
    font-size: 10pt;
}
.Story a:not(.Story-domen) {
    color: inherit;
    text-decoration: none;
}
.Story-title a:active,.Story-title a:visited {
    color: #828282;    
}

.Story-domen {
    font-size: 8pt;
    text-decoration: underline;
}

.Story-details {
    color: #828282;
    font-size: 7pt;
}
.Story-details b {
    color: black;
}

.Number {
    color: #828282;    
    margin-right: 5px;
    font-size: 11pt;
}